@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --dark-color: #1F2937;
    --light-color: #F9FAF8;
    --grey-color: #E5E7EB;
    --blue-color: #3882F6;
}

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    margin: 0;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    height: 10px;
    background-color: var(--dark-color);
    border-radius: 20px;
    border: 3px solid var(--light-color);
}

.wrapper {
    width: 100vw;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

button {
    background-color: var(--blue-color);
    color: var(--light-color);
    border: none;
    border-radius: 10px;
    padding: 7px 36px;
    font-size: 18px;
    font-weight: bold;
}